h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    text-align: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    border-radius: 30px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #d35400;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}
#output{
    border-radius: 12px;
    background-color: rgb(226, 226, 226);
    margin: 1rem auto 2rem;
}