h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    text-align: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    border-radius: 30px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #00acd7;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}